@import '../../globals.scss';

.marquee {
    display: flex;
    align-items: center;
    background: $dark;
    height: 100%;
    overflow: hidden;

    span {
        display: inline-block;
        animation: marquee 0s linear infinite;
        color: $light;
        white-space: nowrap;
    }

    @keyframes marquee {
        0% {
            transform: translateX(0);
        }
        100% {
            transform: translateX(-100%);
        }
    }
}
