@import '../../globals.scss';

.marquee {
    overflow: hidden;
    height: 100%;
    display: flex;
    align-items: center;
    background: $dark;
    
    span {
        white-space: nowrap;
        display: inline-block;
        animation: marquee 0s linear infinite;
        color: $light;
    }

    @keyframes marquee {
        0% { transform: translateX(0); }
        100% { transform: translateX(-100%); }
    }     
}


