@import '../../globals.scss';

.button {
    min-width: 100px;
    padding: $space $space*2 $space $space*2;
    color: $light;
    background: $primary;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    transition: background-color .3s ease;
    font-weight: 700;

    &:hover {
        background: darken($primary, 10);
    }
}


