
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Roboto:wght@400;700&display=swap');

$dark: #1C1F33;
$primary: #2a4494ff;
$light: #e0f2e9ff;

$space: 12px;

:export {
    dark: $dark;
    light: $light;
    primary: $primary;

    space: $space;
}

.body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.2rem;
}