@import '../../globals.scss';

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 99;
    top: 0;
    left: 0;

    opacity: 0;
    transform: opacity .6s ease;
    pointer-events: none;

    &.visible {
        opacity: 1;
        //pointer-events: auto;
    }
}